@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #151515;
}

/// MARKING COLOR START//
::selection {
    background: #145864;
}
/// MARKING COLOR END//


/// SCROLLBAR START ///
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-radius: 0.6em;
}
::-webkit-scrollbar-thumb:hover {
    background: #707070;
}
/// SCROLLBAR END ///

/// LOADER START ///
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    h1{
        font-size: 250%;
        color: #e0e0e0;
        font-family: 'Caveat', cursive;
        font-family: "BPG DedaEna Nonblock", sans-serif;
        font-weight: 100;
        animation: circleScale 1s infinite;
        padding: 0.2em;
        z-index: 5;
        background: #111111;
    }
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes circleScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
/// LOADER END ///

// NAVBAR START ////
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}
.header{
	padding: 0.4em 0;
	line-height: 1.5;
    z-index: 2;
    .logo a{
        font-size: 1.2rem;
        color: #f2f2f2;
        text-decoration: none;
        font-weight: 100;
        font-family: 'Oxygen Mono', monospace;
    }
    .nav{
        ul {
            list-style: none;
            li{
                display: inline-block;
                margin-left: 40px;
                a{
                    display: block;
                    font-size: 1.1rem;
                    text-transform: capitalize;
                    color: #f2f2f2;
                    padding: 10px 0;
                    transition: all 0.5s ease;
                    text-decoration: none;
                    font-weight: 100;
                    font-family: 'Oxygen Mono', monospace;
                }
            }
        }
    }
}

.nav-toggler{
	background: transparent;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 1em;
    i{
        font-size: 1.8rem;
        color: #f2f2f2;
    }
}
// NAVBAR END ////

.section1{
    display: flex;
    width: 100%;
    height: 92vh;
    z-index: 0;
    /// SCROLL TOP START ///
    .scrollTop {
        position: fixed;
        bottom: 0.5em;
        right: 1.5em;
        width: 3.5em;
        height: 3.5em;
        background: rgba(94, 94, 94, 0.534);
        border-radius: 50%;
        cursor: pointer;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2;
        visibility: hidden;
        transition: 0.5s;
        opacity: 0;
        z-index: 6;
}

.scrollTop.active {
    visibility: visible;
    opacity: 1;
    bottom: 1.5em;
    z-index: 6;
}
/// SCROLL TOP END ///
    .resume{
        background: #a5a5a5;
        width: 3em;
        height: 2.2em;
        position: fixed;
        bottom: 5em;
        border-radius: 0 .6em .6em 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        transition: 0.2s;
        color: #151515;
        z-index: 6;
        p{
            font-size: .7rem;
            font-family: 'Oxygen Mono', monospace;
            font-weight: 600;
        }
        i{
            font-size: 1.1rem;
        }
    }
    .links{
        flex: 1;
        display: flex;
        align-items: center;
        z-index: 2;
        .linksDiv{
            color: #f2f2f2;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            .forLine{
                display: flex;
                width: 100%;
                height: 4em;
                margin-bottom: 0.5em;
                .box{
                    flex: 1;
                }
                .box1{
                    border-right: 1px solid #c0c0c077;
                }
            }
            a{
                text-decoration: none;
                color: #f2f2f2;
                i{
                    font-size: 1.1rem;
                    margin: 0.8em 0;
                    width: 1.5em;
                    height: 1.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transition: 0.3s ease;
                    cursor: pointer;
                    &:hover{
                        border: 1px solid #bbbbbb;
                        transform: rotate(360deg);
                    }
                }
            }
            
        }
    }
    .about{
        flex: 20;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        h1{
            color: #f2f2f2;
            max-width: 20em;
            font-size: 3rem;
            font-family: 'Oxygen Mono', monospace;
            position: absolute;
            top: 15%;
            left: 10%;
        }
        a {
            text-decoration: none;
            button{
                width: 3.5em;
                height: 3.5em;
                color: #fff;
                font-size: 1rem;
                border: none;
                background: none;
                border: 1px solid rgba(175, 175, 175, 0.404);
                cursor: pointer;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &:hover{
                    background: #333333;
                }
                i{
                    font-size: 1.4rem;
                    
                }
            }
        }
    }
    .bubbels{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: -2;
    }
    .bubble{
        position: absolute;
        bottom: -100px;
        background: rgba(255, 255, 255, 0.123);
        border-radius: 50%;
        opacity: 0.5;
        animation: flying 10s infinite ease-in;
    }
    .bubble:nth-child(1){
        width: 40px;
        height: 40px;
        left: 10%;
        animation-duration: 8s;
    }
    .bubble:nth-child(2){
        width: 20px;
        height: 20px;
        left: 20%;
        animation-duration: 5s;
        animation-delay: 1s;
    }
    .bubble:nth-child(3){
        width: 50px;
        height: 50px;
        left: 35%;
        animation-duration: 10s;
        animation-delay: 2s;
    }
    .bubble:nth-child(4){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 7s;
        animation-delay: 0s;
    }
    .bubble:nth-child(5){
        width: 35px;
        height: 35px;
        left: 55%;
        animation-duration: 6s;
        animation-delay: 1s;
    }
    .bubble:nth-child(6){
        width: 45px;
        height: 45px;
        left: 65%;
        animation-duration: 8s;
        animation-delay: 3s;
    }
    .bubble:nth-child(7){
        width: 25px;
        height: 25px;
        left: 75%;
        animation-duration: 7s;
        animation-delay: 2s;
    }
    .bubble:nth-child(8){
        width: 80px;
        height: 80px;
        left: 80%;
        animation-duration: 6s;
        animation-delay: 1s;
    }
    .bubble:nth-child(9){
        width: 15px;
        height: 15px;
        left: 70%;
        animation-duration: 9s;
        animation-delay: 0s;
    }
    .bubble:nth-child(10){
        width: 50px;
        height: 50px;
        left: 85%;
        animation-duration: 5s;
        animation-delay: 3s;
    }

    @keyframes flying {
        0%{
            bottom: -100px;
            transform: translateX(0);
        }
        50%{
            transform: translateX(100px);
        }
        100%{
            bottom: 1080px;
            transform: translateX(-200px);
        }
    } 
    
}


.section2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 0;
    .top h2{
        font-size: 2.5rem;
        font-family: 'Oxygen Mono', monospace;
        color: #fff;
        text-align: center;
    }
    .tools{
        display: flex;
        p{
            padding: .8em 1em;
            margin: 0 1.5em;
            font-size: 1.2rem;
            position: relative;
            cursor: pointer;
            transition: 0.3s ease;
            color: #fff;
            border: 1px solid rgba(175, 175, 175, 0.685);
            font-family: 'Oxygen Mono', monospace;
            &:hover span{
                visibility: visible;
                opacity: 0.7;
            }
            &:hover{
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                background: rgb(56, 56, 56);
            }
            span{
                visibility: hidden;
                background-color: rgb(52, 52, 52);
                color: #fff;
                text-align: left;
                border-radius: 6px;
                padding: 0.2em 0.1em;
                position: absolute;
                z-index: 1;
                top: 120%;
                left: 5%;
                opacity: 0;
                transition: 0.4s ease;
                font-size: 1.3rem;
                line-height: 1.3;
                font-family: 'Oxygen Mono', monospace;
            }
            span::after {
                content: " ";
                position: absolute;
                transform: rotate(180deg);
                bottom: 99%; 
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: rgb(52, 52, 52) transparent transparent;
            }
        }    
    }

    .wheel-wrapper {
        width: 50rem;
        height: 50rem;
        position: absolute;
        right: -40em;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: -2;
        .wheel {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            animation: ferri-wheel 15s linear infinite;

            .cabin {
                width: 8rem;
                height: 10rem;
                position: absolute;
                border: 0.1rem solid;
                border: none;
                transform-origin: 50% 0%;
                text-align: center;
                font-size: 2rem;
                line-height: 10rem;
                animation: cabin 15s linear infinite;
                i{
                    color: rgba(255, 255, 255, 0.123);
                    font-size: 10rem;
                }
            }
            .cabin:nth-of-type(1) {
                right: -8.5%;
                top: 50%;
            }
    
            .cabin:nth-of-type(2) {
                right: 17%;
                top: 93.5%;
            }
    
            .cabin:nth-of-type(3) {
                right: 67%;
                top: 93.5%;
            }
    
            .cabin:nth-of-type(4) {
                left: -8.5%;
                top: 50%;
            }
    
            .cabin:nth-of-type(5) {
                left: 17%;
                top: 7%;
            }
    
            .cabin:nth-of-type(6) {
                right: 17%;
                top: 7%;
            }
        }
    }

    @keyframes ferri-wheel {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    
    @keyframes cabin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-360deg);
        }
    }
}

.section3{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-top: 1px solid rgba(175, 175, 175, 0.178);
    z-index: 0;
    .top{
        
        h2{
            color: #fff;
            font-family: 'Oxygen Mono', monospace;
            font-size: 2.5em;
        }
    }
    .project{
        width: 35em;
        height: 35em;
        border: 1px solid rgba(175, 175, 175, 0.685);
        display: flex;
        flex-direction: column;
        margin: 2em;
        .photo{
            flex: 10;
            animation: mymove 3s infinite;
            overflow: hidden;
            filter: brightness(0.9);
            @keyframes mymove {
                5% {background-color: rgb(255, 125, 125);}
                50% {background-color: rgb(246, 253, 143);}
                100% {background-color: rgb(132, 255, 159);}
                50% {background-color: rgb(111, 133, 255);}
                0% {background-color: rgb(248, 129, 242);}
            }
            img{
                width: 100%;
                padding: 1em 0;
                transition: 0.3s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
        .info{
            flex: 4;
            border: 1px solid rgba(175, 175, 175, 0.685);
            padding: .8em 2em 1em;
            h3{
                color: #f2f2f2;
                font-size: 1.5rem;
                font-family: 'Oxygen Mono', monospace;
                margin-bottom: 1em;
            }
            p{
                color: #f2f2f2;
                font-size: 1rem;
                font-family: 'Oxygen Mono', monospace;
            }
        }
        .button{
            flex: 1.5;
            display: flex;
            a {
                flex: 1;
                border: 1px solid rgba(175, 175, 175, 0.685);
                transition: 0.2s;
                &:hover{
                    background: rgb(51, 51, 51);
                }
                button{
                    font-family: 'Oxygen Mono', monospace;
                    color: #f2f2f2;
                    font-size: 1rem;
                    border: none;
                    background: none;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
        }
    }
    .project2{
        position: relative;
        .newLabel{
            font-size: 5rem;
            color: #fff;
            position: absolute;
            top: -9%;
            left: 2%;
            animation: rotation 4s infinite linear;
        }
        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(359deg);
            }
        }
    }
    #scroll-container {
        overflow: hidden;
        position: absolute;
        width: 100%;
        pointer-events: none;
        z-index: -2;
    }
    
    #scroll-text {
        transform: translateX(100%);
        animation: my-animation 10s linear infinite;
        color: #3d3d3d38;
        font-family: 'Work Sans', sans-serif;
        font-size: 18rem;
        font-weight: 900;
        font-style: italic;
    }
    
    @keyframes my-animation {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-100%);
        }
    }    
}

.section4{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    z-index: 0;
    background: rgb(15, 15, 15);
    border-top: 1px solid rgba(175, 175, 175, 0.178);
    .contact{
        display: flex;
        color: #f2f2f2;
        align-items: center;
        justify-content: center;
        p{
            font-family: 'Oxygen Mono', monospace;
            font-size: .9rem;
        }
        i{
            font-size: 1.3rem;
            margin: 0 1em;
        }
        
    }
}

// RESPONSIVE START /////  
@media(max-width:800px){
    .section1 .about h1{
        font-size: 1.9rem;
        top: 5%;
        left: 10%;
    }
}

@media (max-width:768px){
    //RESPONSIVE SIDE LINKS START ///
    .section1{
        flex-direction: column;
        .links{
            height: 6vh;
            .linksDiv{
                flex-direction:row;
                justify-content: center;
                a{
                    margin:0 1.3em;
                    i{
                        
                        pointer-events: none;
                    }
                }
                .forLine , .forLine2{
                    flex-direction: column;
                    margin-bottom: 0em;
                    width: 20%;
                    .box1{
                        border-bottom: 1px solid #c0c0c077;
                        border-right: none;
                    }
                }
            }
        }
    }
    //RESPONSIVE SIDE LINKS END ///

    // RESPONSIVE SECTION 3 START //
    .section3 .project{
        width: 28em;
        .info{
            flex: 7;
        }
    }
    .section3 .top{
        h2{
            font-size: 2em;
        }
    }
    // RESPONSIVE SECTION 3 END //

    // RESPONSIVE SECTION 2 START //
    .section2 .top{
        h2{
            font-size: 2em;
        }
    }

    .section2{
        .tools{
            flex-direction: column;
            p{
                margin: 1.5em 0;
                padding: .8em 4em;
                display: flex;
                justify-content: center;
                &:hover {
                    pointer-events: none;
                }
                &:hover span{
                    visibility: hidden;
                }
            }
        }
    }
    // RESPONSIVE SECTION 2 END //

    // RESPONSIVE WHEEL START ///
    .section2 .wheel-wrapper {
        right: -130%;
        .wheel .cabin i{
            font-size: 8rem;
        }
    }
    // RESPONSIVE WHEEL END ///
    
    /// SECTION1 DOWN BUTTON START ////
    .section1 .about a button{
        &:hover{
            pointer-events: none;
        }
        i{
            font-size: 1rem;
        }
    }
    /// SECTION1 DOWN BUTTON END ////

    // RESPONSIVE NAVBAR START ///
    .nav-toggler{
        display: block;
    }
    .header .nav{
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.5s ease;
    }
    .header .nav.open{
        visibility: visible;
    }
    .header .nav ul{
        padding: 0 1.3em;
        margin-top: 5px;
        border-top: 1px solid rgba(190, 190, 190, 0.274);
        border-bottom:1px solid rgba(190, 190, 190, 0.274);
    }
    .header .nav ul li{
        display: block;
        margin:0;
    }
    // RESPONSIVE NAVBAR END ///
}


@media (max-width: 560px){
    .section2 .wheel-wrapper {
        right: -220%;
        .wheel .cabin i{
            font-size: 7rem;
        }
    }
}

@media (max-width:510px){
    .section3 .project{
        width: 19em;
        height: 32em;
        .info{
            flex: 11;
            padding: .5em 0.5em 1em ;
        }
        .button{
            flex: 3;
        }
    }
    .section3 #scroll-container{
        margin-top: 10em;
    }
    .section3 #scroll-text {
        font-size: 11rem;
        font-weight: 800;
    }
    .section4 {
        flex-direction: column;
        height: 15vh;
    }
}


@media (max-width:425px){
    .loader h1{
        font-size: 180%;
    }
}

@media (max-width: 375px){
    .section2 .wheel-wrapper {
        right: -300%;
        .wheel .cabin i{
            font-size: 6rem;
        }
    }
}

// RESPONSIVE END ///// 



