@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,800;0,900;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #151515;
}

::-moz-selection {
  background: #145864;
}

::selection {
  background: #145864;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 0.6em;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 7;
}

.loader h1 {
  font-size: 250%;
  color: #e0e0e0;
  font-family: 'Caveat', cursive;
  font-family: "BPG DedaEna Nonblock", sans-serif;
  font-weight: 100;
  -webkit-animation: circleScale 1s infinite;
          animation: circleScale 1s infinite;
  padding: 0.2em;
  z-index: 5;
  background: #111111;
}

.loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes circleScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circleScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
}

.header {
  padding: 0.4em 0;
  line-height: 1.5;
  z-index: 2;
}

.header .logo a {
  font-size: 1.2rem;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 100;
  font-family: 'Oxygen Mono', monospace;
}

.header .nav ul {
  list-style: none;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #f2f2f2;
  padding: 10px 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
  font-weight: 100;
  font-family: 'Oxygen Mono', monospace;
}

.nav-toggler {
  background: transparent;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 1em;
}

.nav-toggler i {
  font-size: 1.8rem;
  color: #f2f2f2;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 92vh;
  z-index: 0;
}

.section1 .scrollTop {
  position: fixed;
  bottom: 0.5em;
  right: 1.5em;
  width: 3.5em;
  height: 3.5em;
  background: rgba(94, 94, 94, 0.534);
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 6;
}

.section1 .scrollTop.active {
  visibility: visible;
  opacity: 1;
  bottom: 1.5em;
  z-index: 6;
}

.section1 .resume {
  background: #a5a5a5;
  width: 3em;
  height: 2.2em;
  position: fixed;
  bottom: 5em;
  border-radius: 0 .6em .6em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #151515;
  z-index: 6;
}

.section1 .resume p {
  font-size: .7rem;
  font-family: 'Oxygen Mono', monospace;
  font-weight: 600;
}

.section1 .resume i {
  font-size: 1.1rem;
}

.section1 .links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.section1 .links .linksDiv {
  color: #f2f2f2;
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.section1 .links .linksDiv .forLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4em;
  margin-bottom: 0.5em;
}

.section1 .links .linksDiv .forLine .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section1 .links .linksDiv .forLine .box1 {
  border-right: 1px solid #c0c0c077;
}

.section1 .links .linksDiv a {
  text-decoration: none;
  color: #f2f2f2;
}

.section1 .links .linksDiv a i {
  font-size: 1.1rem;
  margin: 0.8em 0;
  width: 1.5em;
  height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.section1 .links .linksDiv a i:hover {
  border: 1px solid #bbbbbb;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.section1 .about {
  -webkit-box-flex: 20;
      -ms-flex: 20;
          flex: 20;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.section1 .about h1 {
  color: #f2f2f2;
  max-width: 20em;
  font-size: 3rem;
  font-family: 'Oxygen Mono', monospace;
  position: absolute;
  top: 15%;
  left: 10%;
}

.section1 .about a {
  text-decoration: none;
}

.section1 .about a button {
  width: 3.5em;
  height: 3.5em;
  color: #fff;
  font-size: 1rem;
  border: none;
  background: none;
  border: 1px solid rgba(175, 175, 175, 0.404);
  cursor: pointer;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .about a button:hover {
  background: #333333;
}

.section1 .about a button i {
  font-size: 1.4rem;
}

.section1 .bubbels {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -2;
}

.section1 .bubble {
  position: absolute;
  bottom: -100px;
  background: rgba(255, 255, 255, 0.123);
  border-radius: 50%;
  opacity: 0.5;
  -webkit-animation: flying 10s infinite ease-in;
          animation: flying 10s infinite ease-in;
}

.section1 .bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
}

.section1 .bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.section1 .bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.section1 .bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.section1 .bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.section1 .bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.section1 .bubble:nth-child(7) {
  width: 25px;
  height: 25px;
  left: 75%;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.section1 .bubble:nth-child(8) {
  width: 80px;
  height: 80px;
  left: 80%;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.section1 .bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.section1 .bubble:nth-child(10) {
  width: 50px;
  height: 50px;
  left: 85%;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes flying {
  0% {
    bottom: -100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    bottom: 1080px;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@keyframes flying {
  0% {
    bottom: -100px;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    bottom: 1080px;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

.section2 {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.section2 .top h2 {
  font-size: 2.5rem;
  font-family: 'Oxygen Mono', monospace;
  color: #fff;
  text-align: center;
}

.section2 .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .tools p {
  padding: .8em 1em;
  margin: 0 1.5em;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #fff;
  border: 1px solid rgba(175, 175, 175, 0.685);
  font-family: 'Oxygen Mono', monospace;
}

.section2 .tools p:hover span {
  visibility: visible;
  opacity: 0.7;
}

.section2 .tools p:hover {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #383838;
}

.section2 .tools p span {
  visibility: hidden;
  background-color: #343434;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 0.2em 0.1em;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 5%;
  opacity: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 1.3rem;
  line-height: 1.3;
  font-family: 'Oxygen Mono', monospace;
}

.section2 .tools p span::after {
  content: " ";
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 99%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #343434 transparent transparent;
}

.section2 .wheel-wrapper {
  width: 50rem;
  height: 50rem;
  position: absolute;
  right: -40em;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: -2;
}

.section2 .wheel-wrapper .wheel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-animation: ferri-wheel 15s linear infinite;
          animation: ferri-wheel 15s linear infinite;
}

.section2 .wheel-wrapper .wheel .cabin {
  width: 8rem;
  height: 10rem;
  position: absolute;
  border: 0.1rem solid;
  border: none;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  text-align: center;
  font-size: 2rem;
  line-height: 10rem;
  -webkit-animation: cabin 15s linear infinite;
          animation: cabin 15s linear infinite;
}

.section2 .wheel-wrapper .wheel .cabin i {
  color: rgba(255, 255, 255, 0.123);
  font-size: 10rem;
}

.section2 .wheel-wrapper .wheel .cabin:nth-of-type(1) {
  right: -8.5%;
  top: 50%;
}

.section2 .wheel-wrapper .wheel .cabin:nth-of-type(2) {
  right: 17%;
  top: 93.5%;
}

.section2 .wheel-wrapper .wheel .cabin:nth-of-type(3) {
  right: 67%;
  top: 93.5%;
}

.section2 .wheel-wrapper .wheel .cabin:nth-of-type(4) {
  left: -8.5%;
  top: 50%;
}

.section2 .wheel-wrapper .wheel .cabin:nth-of-type(5) {
  left: 17%;
  top: 7%;
}

.section2 .wheel-wrapper .wheel .cabin:nth-of-type(6) {
  right: 17%;
  top: 7%;
}

@-webkit-keyframes ferri-wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ferri-wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes cabin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes cabin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.section3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid rgba(175, 175, 175, 0.178);
  z-index: 0;
}

.section3 .top h2 {
  color: #fff;
  font-family: 'Oxygen Mono', monospace;
  font-size: 2.5em;
}

.section3 .project {
  width: 35em;
  height: 35em;
  border: 1px solid rgba(175, 175, 175, 0.685);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
}

.section3 .project .photo {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  -webkit-animation: mymove 3s infinite;
          animation: mymove 3s infinite;
  overflow: hidden;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

@-webkit-keyframes mymove {
  5% {
    background-color: #ff7d7d;
  }
  50% {
    background-color: #f6fd8f;
  }
  100% {
    background-color: #84ff9f;
  }
  50% {
    background-color: #6f85ff;
  }
  0% {
    background-color: #f881f2;
  }
}

@keyframes mymove {
  5% {
    background-color: #ff7d7d;
  }
  50% {
    background-color: #f6fd8f;
  }
  100% {
    background-color: #84ff9f;
  }
  50% {
    background-color: #6f85ff;
  }
  0% {
    background-color: #f881f2;
  }
}

.section3 .project .photo img {
  width: 100%;
  padding: 1em 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section3 .project .photo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section3 .project .info {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border: 1px solid rgba(175, 175, 175, 0.685);
  padding: .8em 2em 1em;
}

.section3 .project .info h3 {
  color: #f2f2f2;
  font-size: 1.5rem;
  font-family: 'Oxygen Mono', monospace;
  margin-bottom: 1em;
}

.section3 .project .info p {
  color: #f2f2f2;
  font-size: 1rem;
  font-family: 'Oxygen Mono', monospace;
}

.section3 .project .button {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .project .button a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid rgba(175, 175, 175, 0.685);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section3 .project .button a:hover {
  background: #333333;
}

.section3 .project .button a button {
  font-family: 'Oxygen Mono', monospace;
  color: #f2f2f2;
  font-size: 1rem;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.section3 .project2 {
  position: relative;
}

.section3 .project2 .newLabel {
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: -9%;
  left: 2%;
  -webkit-animation: rotation 4s infinite linear;
          animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.section3 #scroll-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  pointer-events: none;
  z-index: -2;
}

.section3 #scroll-text {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: my-animation 10s linear infinite;
          animation: my-animation 10s linear infinite;
  color: #3d3d3d38;
  font-family: 'Work Sans', sans-serif;
  font-size: 18rem;
  font-weight: 900;
  font-style: italic;
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.section4 {
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  background: #0f0f0f;
  border-top: 1px solid rgba(175, 175, 175, 0.178);
}

.section4 .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f2f2f2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section4 .contact p {
  font-family: 'Oxygen Mono', monospace;
  font-size: .9rem;
}

.section4 .contact i {
  font-size: 1.3rem;
  margin: 0 1em;
}

@media (max-width: 800px) {
  .section1 .about h1 {
    font-size: 1.9rem;
    top: 5%;
    left: 10%;
  }
}

@media (max-width: 768px) {
  .section1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1 .links {
    height: 6vh;
  }
  .section1 .links .linksDiv {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section1 .links .linksDiv a {
    margin: 0 1.3em;
  }
  .section1 .links .linksDiv a i {
    pointer-events: none;
  }
  .section1 .links .linksDiv .forLine, .section1 .links .linksDiv .forLine2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0em;
    width: 20%;
  }
  .section1 .links .linksDiv .forLine .box1, .section1 .links .linksDiv .forLine2 .box1 {
    border-bottom: 1px solid #c0c0c077;
    border-right: none;
  }
  .section3 .project {
    width: 28em;
  }
  .section3 .project .info {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
  }
  .section3 .top h2 {
    font-size: 2em;
  }
  .section2 .top h2 {
    font-size: 2em;
  }
  .section2 .tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section2 .tools p {
    margin: 1.5em 0;
    padding: .8em 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section2 .tools p:hover {
    pointer-events: none;
  }
  .section2 .tools p:hover span {
    visibility: hidden;
  }
  .section2 .wheel-wrapper {
    right: -130%;
  }
  .section2 .wheel-wrapper .wheel .cabin i {
    font-size: 8rem;
  }
  .section1 .about a button:hover {
    pointer-events: none;
  }
  .section1 .about a button i {
    font-size: 1rem;
  }
  .nav-toggler {
    display: block;
  }
  .header .nav {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header .nav.open {
    visibility: visible;
  }
  .header .nav ul {
    padding: 0 1.3em;
    margin-top: 5px;
    border-top: 1px solid rgba(190, 190, 190, 0.274);
    border-bottom: 1px solid rgba(190, 190, 190, 0.274);
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
}

@media (max-width: 560px) {
  .section2 .wheel-wrapper {
    right: -220%;
  }
  .section2 .wheel-wrapper .wheel .cabin i {
    font-size: 7rem;
  }
}

@media (max-width: 510px) {
  .section3 .project {
    width: 19em;
    height: 32em;
  }
  .section3 .project .info {
    -webkit-box-flex: 11;
        -ms-flex: 11;
            flex: 11;
    padding: .5em 0.5em 1em;
  }
  .section3 .project .button {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .section3 #scroll-container {
    margin-top: 10em;
  }
  .section3 #scroll-text {
    font-size: 11rem;
    font-weight: 800;
  }
  .section4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 15vh;
  }
}

@media (max-width: 425px) {
  .loader h1 {
    font-size: 180%;
  }
}

@media (max-width: 375px) {
  .section2 .wheel-wrapper {
    right: -300%;
  }
  .section2 .wheel-wrapper .wheel .cabin i {
    font-size: 6rem;
  }
}
/*# sourceMappingURL=style.css.map */